* {
    font-family: "Inter";
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
}

h1 {
    text-align: center;
}

#must {
    color: #c1121f;
}

#search {
    display: inline-block !important;
    width: 83% !important;
    margin: 5px auto !important;
    padding: 10px;
    background-color: white !important;

}

.search-btn {
    float: right !important;
    margin: 5px auto;
    padding: 5px;
    width: 15%;
    background-color: #0a6ffc !important;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    border: 1px solid #0a6ffc;

}

.div-search {
    width: 95%;
    margin: auto;
}

table {
    margin: 20px auto;
    padding: 10px;
    width: 95%;
}

table,
td,
th {
    border-collapse: collapse;
    border: 1px rgb(178, 175, 175) solid;
    padding: 10px;

}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

label,
input {
    display: block;
    width: 95%;
    margin: 10px auto !important;
    height: 30px;

}

input {
    padding: 5px;
    border: 1px rgb(178, 175, 175) solid;
    padding: 18px;
    border-radius: 5px;
    background-color: white !important;

}

label {
    margin-bottom: -10px !important;
}

.seminar-form,
.participants {
    width: 45%;
    margin: 70px auto;
    padding: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 5px 5px 10px 1px #c8c8c8;
    background-color: white;
}

a {
    text-decoration: none;
    text-align: center !important;
    align-items: center;
    color: #0a6ffc;
}



#regis-btn {
    background-color: #0a6ffc;
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    width: 95%;
    padding: 10px;
    border: 1px solid #0a6ffc;
    color: white;
    margin: 20px auto;
}


/* Responsive */
@media screen and (max-width: 767px) {

    .seminar-form,
    .participants {
        width: 95%;
        margin: 30px auto;
    }

    table {
        width: 95%;
        font-size: 1.5vw;
    }

    h1,
    h2 {
        font-size: 4vw !important;
    }

    .div-search {
        width: 95%;
        margin: auto;
    }

    #search {
        width: 77% !important;
        font-size: 2.5vw !important;
        height: 20px !important;
    }

    .search-btn {
        font-size: 2.5vw !important;
        width: 20%;

    }


    a {
        font-size: 3vw !important;
    }
}

@media screen and (min-width:767px) and (max-width: 1024px) {

    .seminar-form,
    .participants {
        width: 80%;
        font-size: 2vw;
        margin: 40px auto;
    }

    table {
        width: 90%;
        font-size: 1.5vw;
    }

    h1,
    h2 {
        font-size: 3vw !important;
    }

    .div-search {
        width: 90%;
        margin: auto;
    }

    a {
        font-size: 1.5vw !important;
    }
}